.wrapper,
.ant-drawer-wrapper-body,
.ant-drawer-header,
.ant-drawer-title,
h1,
h2,
h5,
h4,
#root {
	background-color: #000000 !important;
	color: #ffff00 !important;
	/* font-family: 'Minecraftia-Regular', sans-serif; */
}

p {
	font-family: 'Minecraftia-Regular', sans-serif;
}

h1,
h2 {
	font-family: 'PAC-FONT', sans-serif;
	letter-spacing: 5px;
}
.ant-input:placeholder-shown {
	color: black !important;
}

#searchQuery {
	color: black;
}

.loginWrapper {
	height: 100vh;
	display: flex;
	align-items: center;
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;
	max-width: 900px;
}

.landingPage {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navBar,
.navWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navWrapper {
	display: flex;
	flex-direction: column;
	padding-bottom: 2em;
	padding: 1em;
	flex-basis: 30%;
	flex: 0.7;
	border-radius: 10px;
	margin: 0.5em;
	margin-right: 1.5em;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	max-width: 700px;
	min-width: 350px;
	margin-top: 0.5em;
	flex-basis: 70%;
	flex: 2;
}

.nav {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.insertCoin {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.insertCoin {
	-webkit-animation-name: blinker;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
	-webkit-animation-duration: 2.5s;
}

.insertCoin {
	font-size: 1.5em;
	text-align: center;
}

.logoPlaceholder {
	height: 153px;
	width: 145px;
	background-image: url('/images/ghost1.png');
	background-size: cover;
	margin-bottom: 2em;
}

.cardImg {
	float: right;
	align-self: flex-end;
}

.cardFriendImg {
	align-self: center;
}

.msgHeader {
	display: flex;
	justify-content: space-between;
}

.msgHeader h5 span {
	color: white;
}

.msgBody {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
}

/* login styling */

.login-form-button {
	width: 100%;
}

.formField {
	margin-top: 1em;
}

.ant-checkbox-wrapper {
	margin-bottom: 0.5em !important;
}

.regLink {
	color: rgb(15, 91, 163);
	cursor: pointer;
	margin-top: 1em;
}

.addItemBtn {
	margin-bottom: 1em;
	margin-right: 1em;
	align-self: flex-end;
}

.cardButtonRow {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.myCard {
	background-color: #fca8d9;
	margin: 1em;
	padding: 1em;
	border-radius: 5px;
	color: black !important;
	/* align-self: baseline; */
}

.friendCard {
	background-color: #000000;
	display: flex;
	flex-direction: column;
	margin: 1em;
	padding: 1em;
	border-radius: 5px;
	color: rgb(255, 255, 255) !important;
	border: 7px dotted yellow;
	/* align-self: flex-end; */
}

.friendCardNav {
	border: 7px dotted yellow;
	width: 100%;
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
}

.friendSearchRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1em;
	width: 100%;
}

.friendCardNav h6 {
	color: white;
	text-align: center;
}

.friendCard h3 span,
.friendCard h1 span,
.friendCard h6 {
	color: white !important;
}

.anticon {
	vertical-align: 0.1em !important;
}

.addBtnContainer {
	display: flex;
	align-self: center;
}

nav {
	width: 100%;
}

.navBtn {
	width: 100%;
}

.nav-link {
	padding: 0px;

	margin-bottom: 0.5em;
}

.ant-btn-primary,
.ant-btn-sm,
.navBtn,
.btn,
.login-form-button {
	background-color: #2121de !important;
	border-color: #2121de !important;
	color: white !important;
}

.ant-btn-sm {
	float: right;
}

.sectionHeader {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 0.5em;
	margin: 1em;
	margin-bottom: 0em;
}

.taskRow {
	display: flex;
	flex-wrap: wrap;

	margin-left: 1em;
	margin-bottom: 0em;
}

.friendSearch {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white !important;
	margin-top: 2em;
	margin-bottom: 2em;
	width: 100%;
}

.container-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.msgSubmitRow {
	display: flex;
	margin-bottom: 2em;
}
